<div class="wrap">
  <p class="standalone">inWords was created by <a href="http://sam-adefioye.github.io">Sam Adefioye</a>. Follow <a href="http://twitter.com/sxmwell_">@sxmwell_</a>.</p>
  <p><a class="secondary blend-link" href="/help">Help</a>
  <span class="sep"> | </span>
  <a class="secondary blend-link" href="/about">About</a>
  </p>
</div>
