<nav style="background-color: #f8f9f9; padding: 5px;">
  <div>
    <ul>
      <li style="text-align: center; list-style-type: none;">
        <a style="text-decoration: none;"href="/">
          <h1>inWords</h1>
        </a>
      </li>
    </ul>
  </div>
</nav>
