/* a {
  font-family: 'Quicksand', sans-serif, 'Pacifico', cursive, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
} */

nav, footer {
  font-family: "Courier New", Courier, monospace;
}

body {
  font-family: 'Josefin Sans', sans-serif, 'Quicksand', sans-serif, 'Pacifico', cursive, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}
