<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <h1 style="margin-bottom: 50px;">Help</h1>
          <p style="margin-bottom: 40px;">
            inWords is a simple application for creating text documents. Sign in with your Google account...and write!
            It uses the <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown</a> syntax.
          </p><br/>
          <p>Created by <a href="http://sam-adefioye.github.io">Sam Adefioye</a> using Node.js.</p>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>

    <footer style="text-align: center; padding: 10px;">
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
