<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <footer style="text-align: center;">
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
