<html>
  <head>
    <%- include('../partials/header'); %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1 col-xs-0"></div>
        <div class="col-sm-10 col-xs-12">
          <form name="editor" style="margin: 50px;" method="post" action="/new" class="inline-block">
            <div class="form-group">
              <input class="form-control" type="text" name="title" placeholder="Title" maxlength="100">
            </div>
            <textarea name="notes"></textarea>
            <button style="margin-top: 30px;" type="submit" name="submit" class="btn btn-default pull-right">Save</button>
          </form>
        </div>
        <div class="col-sm-1 col-xs-0"></div>
      </div>
    </div>

    <script>
      var editor = document.editor.notes;
      var cmEditor = CodeMirror.fromTextArea(editor, {
        mode: "markdown",
        lineWrapping: true,
        autofocus: true
      });
    </script>
  </body>
</html>
