<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav2.ejs %>

    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
          <p class="inline-block">
            <%= results[0].n_content %>
          </p>
        </div>
        <div class="col-xs-2"></div>
      </div>
    </div>

    <footer style="text-align: center;">
      <p>Signed in as <%= name %></p><br/>
      <% include ../partials/footer2.ejs %>
    </footer>
  </body>
</html>
