<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>

    <% include ../partials/nav.ejs %>

    <ul>
      <% results.forEach(function(r) { %>
          <li><%= r.n_title %> - <%= r.n_content %></li>
      <% }); %>
    </ul>

    <footer style="text-align: center;">
      <% include ../partials/footer.ejs %>
    </footer>
  </body>
</html>
